* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
h1 {
  background: linear-gradient(blue, navy);
  width: 450px;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px 15px;
  border: 2px solid #4a90e2;
  box-shadow: 2px 5px 30px blue;
}
form {
  width: 450px;
  margin: 10px auto;
  background: linear-gradient(270deg, rgb(0, 0, 47), rgb(1, 1, 3));
}
fieldset {
  border-radius: 10px;
  padding: 25px;
  border: 2px solid #4a90e2;
}
legend {
  background-color: #4a90e2;
  color: black;
  border-radius: 5px;
  padding: 5px 7px;
  font-weight: 500;
  font-size: 13px;
}
table {
  width: 100%;
}
